$input_border: #d1d7dd;
$input_text: #212121;
$primary_color: #6e32f6;
$primary_hover: #7f4ef0;
$success_button: #2dcc70;
$near_white: #fefefe;
$secondery_color: #e65d46;
$danger: #fd5958;
$activeColor: #ff9e43;
$text_gray: #8f8f8f;
$backColor: #f3f4f8;
$header: #eeeff1;
$dark_gray: #1c1c1d;
$shadow: #ebe8f9;
$menu: #232a46;
