$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icofonts" !default;

$icon-close: "\e916";
$icon-bookmark: "\e906";
$icon-envelop: "\e900";
$icon-lock: "\e901";
$icon-iphone: "\e902";
$icon-coin: "\e903";
$icon-play: "\e904";
$icon-dashboard: "\e905";
$icon-logout: "\e907";
$icon-user: "\e908";
$icon-home: "\e909";
$icon-share: "\e90a";
$icon-plus: "\e90b";
$icon-down-chevron: "\e90d";
$icon-sad: "\e90e";
$icon-menu: "\e90f";
$icon-left-arrow: "\e910";
$icon-search: "\e911";
$icon-success: "\e912";
$icon-info: "\e913";
$icon-error: "\e914";
$icon-login: "\e915";
$icon-reload: "\e918";
