@import "../../../assets/style/colors.scss";
.menuBox {
  text-align: center;
  & > img {
    width: 135px;
    margin-top: 30px;
    height: 50px;
  }
  a {
    text-decoration: none;
    color: white;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    text-decoration: none;
    height: 32px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    & > div > span {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
.navLinkRoot {
  text-align: right;
}
