@import "../../../assets/style/colors.scss";
.action {
  margin-left: -8px !important;
  padding-right: 16px !important;
  padding-left: 0 !important;
  width: 10%;
}
.message {
  width: 90%;
  display: flex;
}
.label {
  width: 15px !important;
  height: 15px;
}
.icon {
  margin-left: 5px;
}
.success {
  & > div {
    background-color: $success_button;
  }
}
.error {
  & > div {
    background-color: $danger;
  }
}
.info {
  & > div {
    background-color: $primary_color;
  }
}
